/* 😢😞😐😀😎 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-wrapper {
  display: flex;
  margin-bottom: 1.5rem;
}

.star-empty::before {
  content: '☆';
  font-size: 3rem;
}

.star-filled::before {
  content: '★';
  color: gold;
}

.smile-reaction {
  content: '😢';
}
