* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.application-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
}

.form-label {
  text-transform: uppercase;
  margin: 1.5rem auto 2rem;
  font-weight: 700;
  color: #fff;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 0.8rem;
}

input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 1rem;
}

.search-btn {
  background-image: url(./images/magnifyGlass.png);
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.error {
  align-self: start;
}
.error p {
  color: #fff;
  font-weight: 700;
}

.weather {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-bottom: 1rem;
}

#temperature-value {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}

#city-name {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}

#wether-indicator {
  width: 10rem;
  height: 10rem;
  
}

.additional-indicators {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.additional-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.additional-indicator-icons {
  align-self: center;
  width: 2rem;
  height: 2rem;
}

.additional-indicator-text-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3rem;
}

.additional-indicator-name {
  color: #fff;
  max-width: 8rem;
  /* align-self: flex-end; */
}

.digital-value-indicator {
  font-size: 1.5rem;
  font-weight: 500;
}
