* {
  box-sizing: border-box;
}

.application-form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1.25rem;
  max-width: min-content;
  border-radius: 20px;
  background: linear-gradient(135deg, #00feba, #5b548a);
}

.form-label {
  text-transform: uppercase;
  margin: 1.5rem auto 2rem;
  color: #fff;
}

.input-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

input {
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 1rem;
}

.search-btn {
  background-image: url(./images/magnifyGlass.png);
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.error {
  align-self: start;
}
.error p {
  color: #fff;
  font-weight: 700;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperature-value {
  color: #fff;
  font-size: 4rem;
}

#city-name {
  color: #fff;
  font-size: 2rem;
}

#wether-indicator {
  width: 10rem;
  height: 10rem;
  align-self: center;
}

.additional-indicators {
  display: flex;
  gap: 4rem;
  /* justify-content: space-between; */
}

/* .additional-indicator { */
/* } */

.additional-indicator-icons {
  width: 3rem;
  height: 3rem;
}

.additional-indicator-name {
  color: #fff;
}

/* #pressure-value { } */

/* .additional-indicator-icons {} */
