.text-center {
  text-align: center;
}

.show-dialog-btn {
  border: 0.2px solid black;
  padding: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  box-sizing: border-box;
  border-radius: 1px;
  cursor: pointer;
}

.dialogPopup {
  display: none;
  text-align: center;
}

.option {
  margin: 40px;
}
